*{
    box-sizing: border-box;
    /* margin: 5px;
    padding: 5px; */
}

.container-title{
    border: 2px solid #5DC9A0;
    border-radius: 5px ;
    width: 100%;
    color: #0C1F37;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: #5DC9A0;
    /* padding: 0px;
    margin-top: 1rem; */
}